<template>
  <breeze-authenticated-layout>
    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <form @submit.prevent="submit">
              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <label
                    for="company_website"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Titulo
                  </label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input
                      type="text"
                      v-model="form.title"
                      name="title"
                      id="title"
                      class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                      placeholder="My post title"
                    />
                  </div>
                    <div v-if="errors.title"><small>{{ errors.title }}</small>
                  </div>
                </div>
              </div>

              <div class="mt-4">
                <label
                  for="about"
                  class="block text-sm font-medium text-gray-700"
                >
                  Description
                </label>
                <div class="mt-1">
                  <textarea
                    id="description"
                    v-model="form.description"
                    name="about"
                    rows="3"
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                    placeholder="Once upon a time..."
                  ></textarea>
                </div>
                <div v-if="errors.description"><small>{{ errors.description }}</small> </div>

              </div>

            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Publish
              </button>
            </div>
            </form>
          </div>
        <div class="container max-w-2xl mx-auto  w-auto sm:px-6 lg:px-4">
            <div class="flex justify-center pt-8 sm:justify-start sm:pt-0">
                <h1>My own posts</h1> 
            </div>

            <div class="mt-8 bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
                <div class="grid grid-cols-1 md:grid-cols-1">
                    <Post v-for="post in posts" v-bind:key="post.id" :post="post" />
                </div>
            </div>
        </div>        </div>
      </div>
    </div>
  </breeze-authenticated-layout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated";
import Post from '@/Components/Post.vue'

export default {
  props: {
    errors: Object,
    posts: Object,
  },
  data() {
    return {
      form: this.$inertia.form({
        title: "",
        description: "",
      }),
    };
  },
  methods: {
    submit() {
      this.form.post("/posts", {
        onFinish: () => this.form.reset(),
      });
    },
  },
  components: {
    BreezeAuthenticatedLayout,
    Post
  },
};
</script>
