<template>
  <breeze-authenticated-layout>
    <div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">


        <div class="container max-w-2xl mx-auto  w-auto sm:px-6 lg:px-4">
            <div class="flex justify-center pt-8 sm:justify-start sm:pt-0">
                <h1>The blog</h1> 
            </div>
            <inertia-link :href="`/?desc=asc`" :only="['posts']">Show Olders first</inertia-link>
            <br>
            <inertia-link :href="`/?desc=desc`"  :only="['posts']">Show new first</inertia-link>

            <div class="mt-8 bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
                <div class="grid grid-cols-1 md:grid-cols-1">
                    <Post v-for="post in posts" v-bind:key="post.id" :post="post" />
                </div>
            </div>
        </div>
    </div>
  </breeze-authenticated-layout>
</template>


<style scoped>
    .bg-gray-100 {
        background-color: #f7fafc;
        background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
    }

    .border-gray-200 {
        border-color: #edf2f7;
        border-color: rgba(237, 242, 247, var(--tw-border-opacity));
    }

    .text-gray-400 {
        color: #cbd5e0;
        color: rgba(203, 213, 224, var(--tw-text-opacity));
    }

    .text-gray-500 {
        color: #a0aec0;
        color: rgba(160, 174, 192, var(--tw-text-opacity));
    }

    .text-gray-600 {
        color: #718096;
        color: rgba(113, 128, 150, var(--tw-text-opacity));
    }

    .text-gray-700 {
        color: #4a5568;
        color: rgba(74, 85, 104, var(--tw-text-opacity));
    }

    .text-gray-900 {
        color: #1a202c;
        color: rgba(26, 32, 44, var(--tw-text-opacity));
    }

    @media (prefers-color-scheme: dark) {
        .dark\:bg-gray-800 {
            background-color: #2d3748;
            background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
        }

        .dark\:bg-gray-900 {
            background-color: #1a202c;
            background-color: rgba(26, 32, 44, var(--tw-bg-opacity));
        }

        .dark\:border-gray-700 {
            border-color: #4a5568;
            border-color: rgba(74, 85, 104, var(--tw-border-opacity));
        }

        .dark\:text-white {
            color: #fff;
            color: rgba(255, 255, 255, var(--tw-text-opacity));
        }

        .dark\:text-gray-400 {
            color: #cbd5e0;
            color: rgba(203, 213, 224, var(--tw-text-opacity));
        }
    }
</style>

<script>
import Post from '@/Components/Post.vue'
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated";

    export default {
        props: {
            canLogin: Boolean,
            canRegister: Boolean,
            posts: Array,
        },
        components:{
            Post,
            BreezeAuthenticatedLayout
        }
    }
</script>
