<template>
  <div class="p-6 w-auto">
    <div class="flex items-center">
      <div class="text-lg leading-7 font-semibold">
        <p
          class="underline text-gray-900 dark:text-white"
          >{{post.title}}</p>
          <p>{{post.publication_date}} ({{post.days_ago}})</p>
      </div>
    </div>
    <div class="w-auto">
      <div class="mt-2 text-gray-600 dark:text-gray-400 text-sm">
        {{post.description}}
      </div>
    </div>
  </div>
</template>
<script>
export default {
    name: 'Post',
    props: {
        post: Object,
    },
}
</script>